[submodule "external/tina-android-tree-sitter"]
	path = external/tina-android-tree-sitter
	url = https://github.com/wuxianggujun/tina-android-tree-sitter.git
	ignore = untracked
[submodule "external/android-rsync"]
	path = external/android-rsync
	url = https://github.com/wuxianggujun/android-rsync.git
	ignore = untracked
[submodule "external/termux-proot"]
	path = external/termux-proot
	url = https://github.com/wuxianggujun/Android-Proot-Builder.git
[submodule "external/rikkahub"]
	path = external/rikkahub
	url = https://github.com/wuxianggujun/rikkahub.git
[submodule "external/termux-x11"]
	path = external/termux-x11
	url = https://github.com/wuxianggujun/termux-x11.git
	branch = tinaide-lorie-windows-build
	ignore = dirty
